# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node / npm
node_modules/
npm-debug.log

# Docker
*.pid
*.seed
*.pid.lock

# PHP / Composer
vendor/
composer.lock

# Custom data (nu urcăm config-uri locale sau generate)
dashboard/src/data/*
